# .gitignore

# .gitignore란 git 에서 발생(생성)되는 파일중에서 git으로 전성(push) 하지 않고,
# 선택 또는 사용하고 있는 로컬 컴퓨터에만 존재하게 하려호 할때 사용하는 명령어 모음


# 사용방법
# 전송하지않을(git add) 디렉토리명, 파일명 입력하면 끝
# 모든 디렉토리 : **/
# 모든 파일 : *.* 
# 파일이름 모두, 확장자는 jpg: *.jpg
# 예외처리 !붙인다. 
# ex) **/work/ : 모든 디렉토리안의 work폴더는 안올린다.
#     **/design/!work/ : 모든 디렉토리안에서 design폴더 안에있는 work폴더만!, 전송

# -----------------------------------------------------------

# design파일 : psd, ai, indd, psb 등...
#**/*.psd
#**/*.ai
**/*.eps
**/*.indd
#**/*.psb

# 예외 처리
#!**/design/*.psd
