@charset "utf-8";
/* asics_women_common.css */

/*body{background-color: transparent;}*/

#wrap{position:relative; width: 100%; height: 100%; text-align: center; margin:auto; font-family: '맑은 고딕' , Malgun Gothic; color:#001e62;}
h2{font-family: '맑은 고딕' , Malgun Gothic; color:#001e62; text-transform: capitalize; }
.container{width: 100%; height: 100%;}

/* #headBox---------------------------------------- */
#headBox{position: fixed; z-index: 500; width: 100%; height: auto;  }
  #headBg{width: 100%; background-color:#00c3e6;}  
  #headerBox{width: 100%; background-color:#001e62;}
    .logo{float:left;}
    .logo>a{width: 100%; height: 100%; float: left; color:#fff; background-image: url("../../../../img/img_psd/logo.png"); background-repeat: no-repeat; background-position: center; background-size:70%;}
    .sign_up{float: right; font-weight: bold; font-size:18px; height: 100%; }
    .sign_up>a{display: block; width: 100%; height: 100%; background-image: url("../../../../img/img_psd/signup_icon.png"); background-repeat: no-repeat; background-position: center;}
    #navBox{position: relative; float:right; width: 60%; margin: auto; height:100%; }
    #navBox>div{height:100%;}
    .menu{position:relative; float: right;}
    .menu>button{width: 100%; height: 100%; font-size:20px; background-image: url("../../../../img/img_psd/menu_icon.png"); background-repeat: no-repeat; background-position: center;}

.gnb_box{display:none; position: absolute; float:right; width:70px; height: 200px;}

.gnb_box>.gnb{display:block; width: 100%; height: 100%;}
.gnb>li{display:block; float:left; width: 100%; height: 25%; }
.gnb>li>a{position: relative; display: block; width: 100%; height: 100%;}
.gnb>li>a>span{display: block; position: absolute; top:50%; left:50%; transform:translate(-50% , -50%); color:#001e62;  text-align: center; font-size: 2rem; text-transform: capitalize; font-weight: bold; }

.gnb>li>a>span:hover,
.gnb>li>a>span:focus{color:#00c3e6;}

.gnb>.w_a>a>span{font-size: 1.45rem;}
.gnb>.w_a>a>span>.of{text-transform: none;}
.gnb>.w_a>a>span>.asics{text-transform: uppercase;}

/* gnb:ul의 목차들  */
.gnb_p{display: none;
  position: relative; width: 100%; height: 90%; background-color:rgba(255,255,255,0.5);}
.gnb_p>li{position: absolute; top:0; left:0; float:left; width: 100%; height: 100%;}
.gnb_p>li>dl{float:left;  padding-top: 1rem; box-sizing: border-box; width: 25%; height: 100%; border-right: 1px solid rgba(0,30,98,0.5);}
.gnb_p dl:last-of-type{border-right:0;}
.gnb_p dl>dt{width: 100%; height: 10%;}
.gnb_p dl>dd{width: 100%; height: 10%;}
.gnb_p dl>dt>a{width: 100%; height: 100%;}
.gnb_p dl>dd>a{width: 100%; height: 100%;}


.gnb_p dl>dt span{width: 100%; height:10%; color:#001e62; font-weight: bold; font-size: 1.1rem; text-align: left;}
.gnb_p dl>dd span{width:100%; height:10%; font-size: 1.1rem; color:#001e62; text-align: left;}

.gnb_p>.men_p{display: none;}
.gnb_p>.women_p{display: none;}
.gnb_p>.kids_p{display: none;}
.gnb_p>.w_a_p{display: none;}
          
            





























/* #footBox---------------------------------------- */
#footBox{position: relative; z-index: -1; width: auto; min-width:100%; height: auto; background-color:#00c3e6;} 
.foot_bg{position: absolute; top:0; left:0; display: block; width:100%; height:85%; background-color:#001e62;}
.foot_h2{width: 27%; height: 10%; margin: auto;
  background-image: url("../../../../img/img_psd/Vector Smart Object.png"); 
  background-repeat: no-repeat; 
  background-position: 0 0; 
  background-size: contain;}
  

#footBox01{float:left; width: 100%; height: 60%;}
#footBox01>dl{float:left;  width: 24%; height: 100%; margin-left:1%; }
#footBox01 dt{width: 100%; height: 20%; border-radius: 3rem; box-shadow: 0.5rem 0.5rem 0.5rem rgba(200,200,200,0.3);}

#footBox01 dl>dt>a{color:#fff; width: 100%; height: 100%; font-weight: bold;}
#footBox01 dl>dd>a{color:#fff; width: 100%; height: 100%; padding-bottom:0.5rem; background-color:transparent;}
#footBox01 dd>a{display: none;}
#footBox01 a{text-transform: capitalize;}

#footBox01 dl:hover>dd>a,
#footBox01 dl:focus>dd>a{display: block;}

#footBox01>.foot_box04>dt>a{text-transform:uppercase; }
.foot_box04>dd{float:left; padding-top: 0.5rem; box-sizing: border-box; width: 32%; height: 20%; margin-left: 1%; }
#footBox01>.foot_box04>dd>a{width: 100%; height: 100%; float: left; background-color: transparent;}

.face>a{width: 100%; height: 100%; background-image: url("../../../../img/img_psd/face.jpg"); background-repeat: no-repeat; background-position: center; background-size: contain;}
.kakao>a{width: 100%; height: 100%; background-image: url("../../../../img/img_psd/ka.jpg"); background-repeat: no-repeat; background-position: center; background-size: contain;}
.instar>a{width: 100%; height: 100%; background-image: url("../../../../img/img_psd/001-instagram.jpg"); background-repeat: no-repeat; background-position: center; background-size: contain;}

address{float:left; width: 80%; height: 20%; color:#fff; font-style: normal; text-align:justify; }
address+p{float:left; width: 100%; height: 5%; font-size: 1rem;}



