@charset "utf-8";
/* asics_w_a_mobile.css */

/* mob start */
@media screen and (max-width: 480px){

/* #headBox----------------------------------------- */
  #headBg{height:20px;  min-width: 100vw;}
  #headerBox{height: 50px; top:20px;} 
      .logo{width: 100px; height: 100%; margin-left:1rem; }
      .logo>a{background-size: 101%;}
      .sign_up{width: 71px;}
      .sign_up>a{width: 100%; height: 100%;}
      #navBox{width: 100px;}
      #navBox>div{width:60px; float:right;}

      .menu:hover .gnb_box{display:block;}
  
      .gnb{ background-color: rgba(255,255,255,0.1);}
      .gnb>li>a>span{font-size: 1rem; width: 100%; height: auto;  top:50%; left:50%; transform:translate(-50% , -50%);}
      .gnb>.w_a>a>span{font-size: 1rem; line-height: 1.1;}
    


/* #mainBox----------------------------------------- */



/* #artBox ==========================================================*/

/* #bannerBox============================================= */

/* coachBox============================================ */

/* #footBox ----------------------------------------- */
#footBox{height:270px; padding-top:20px; box-sizing:border-box;}
  .foot_bg>.foot_h2{width: 20%; height: 12%; margin-top: 15px; margin-bottom: 20px; }

  .foot_bg dl>dt>a{font-size: 13px;}
  #footBox01 dl:hover>dd>a,
  #footBox01 dl:focus>dd>a{font-size: 10px;}

  address{width: 100%; height: 15%; padding-top:2rem;}
  address>p{font-size: 0.5rem; width: 100%;}
  address+p{float:left; padding-top:0.75rem; width: 100%; height: 5%; font-size: 0.7rem;}


/* mob end */

