@charset "utf-8";
/* homeBox.css ------- */

#homeBox{float:left; position: relative;  z-index:100;  
  width: 100%; height: 1.875rem; background-color:#888888;
  text-align: center; line-height: 1.875rem;}
#homeBox ul{float:right; width: 27.1875rem; height: 100%;
  background-color: #888888;}
#homeBox ul>li{float:left; width: 5.9375rem; height: 100%;}
#homeBox ul>li:nth-child(2){background-color: #555555;}
#homeBox ul>li:last-child{position:relative; z-index:100; width: 15.3125rem; background-color: #fff30d;}

#homeBox a{display: block; width: 100%; height: 100%;
  background-color: inherit; color: #fff; line-height: 1.875rem;  text-align: center;
  background-image: url("/project1/img/gcass/homeBox/homeBox.png");
  background-repeat:no-repeat; background-position: 50%;}

#homeBox ul>li:nth-child(1)>a{background-position-x:0;
  /*background-image: url("../../../../img/gcass/homeBox/home.png")*/}
#homeBox ul>li:nth-child(2)>a{background-position-x:-95px;
  /*background-image: url("../../../../img/gcass/homeBox/study.png")*/}
#homeBox ul>li:nth-child(3)>a{background-position-x:-190px;
  /*background-image: url("../../../../img/gcass/homeBox/education.png")*/}
#homeBox ul>li>a:hover,
#homeBox ul>li>a:focus{background-image: url("/project1/img/gcass/homeBox/homeBox_over.png");}

#homeBox ul>li:last-child a:after{content:" "; display: block;
  position: absolute; z-index: -1; top: 0; left: 0;
  width: 50vw; height: 100%; background-color:inherit;}

/* 
배경색 삽입 이유 : :before사용으로 배경색 맞지않아 강제로 배경색 삽입;
#homeBox ul>li>a:hover,
#homeBox ul>li>a:focus{background-color:#000cf2;}
*/

#homeBox:before,
#homeBox::before{content:" "; display: block;
          position:absolute; top:0; z-index:-1; left:50%; margin-left: -50vw;
          width: 100vw; height: 100%; background-color:inherit;}
