@charset "utf-8";
/* my_study.css */

#wrap{width: 100%; height: 100%;}
ul{width: 500px; height: 500px; background-color:#ccc; list-style: none;}
li{width: 20%; height: 20%; background-color:#ccc;}
li>a{border-radius: 50%; background-color: #fff;}
ul>li.action>a{background-color: #000;}
ul>li>a:hover,
ul>li>a:focus{background-color: #bb0;}

