@charset "UTF-8";

/* homework_1123_01.css */


#wrap{width:1200px; width:75rem; height:auto; background-color:#aac;}
#addBox{width: 100%;background-color: #ba7;}
#headBox{float:left; width:100%; background-color:#333;}
h1{float:left; background-color:#33B88F;}
.unb{float:right; background-color:#33B88F;}
#artBox{width: 100%; background-color:#547D77; }
#newsBox{width: 100%; background-color: #957DE9;}
#footBox{width: 100%; background-color: #333;}


/* mobile start ------------------------- */
@media screen and (max-width:479px) { 
#addBox{height: 720px; height: 45rem;}
#headBox{height: 60px; height: 3.75rem;}
  h1{width: 126px; height: 30px; width: 7.875rem; height: 1.875rem; 
    margin-top:11px; margin-top:0.6875rem; margin-left:11px; margin-left:0.6875rem;}
  .unb{width: 92px; height: 38px; width: 5.75rem; height: 2.375rem; }
  .unb01{width: 36px; width: 2.25rem; height: 100%;}
  .unb02{width: 45px; width: 2.25rem; height: 100%;}
#artBox{height: 720px; height: 45rem;}
#newsBox{height: 720px; height: 45rem;}
#footBox{height: 60px; height: 3.75rem;}



}/* mobile end */

/* tab start ------------------------- */
@media screen and (min-width:480px) and (max-width:768px) {
#addBox{height: 450px; height: 28.125rem;}
#headBox{height: 60px; height: 3.75rem;}
#artBox{height: 210px; height: 13.125rem;}
#newsBox{height: 540px; height: 33.75rem;}
#footBox{height: 120px; height: 7.5rem;}
  



}/* tablet end */


/* pc start------------------------- */
@media screen and (min-width:769px) {
#addBox{height: 450px; height: 28.125rem;}
#headBox{height: 60px; height: 3.75rem;}
#artBox{height: 210px; height: 13.125rem;}
#newsBox{height: 540px; height: 33.75rem;}
#footBox{height: 120px; height: 7.5rem;}

  



}/* pc end */

