@charset "utf-8";
/* rwd_01_result.css */

#wrap{width: 100%; height: 250rem; background-color: #fa0;}



/* commonArea ========================================== */
 
/* - width는 %로 설정
   - 제한을 걸고자 할때 : max-width , min-width 값 별도로 설정하여 상황에 맞추어 가로값 설정  */

/* mobile 480 ------------------------- */
@media screen and (max-width:480px) {

  #wrap{background-color: #afa;}




}/* mobile end */

/* tablet ------------------------- */
@media screen and (min-width:481px) and (max-width:768px) {
  #wrap{background-color: #acf;}


 




}/* tablet end ----------------------- */

/* laptop 1366 ------------------------- */
@media screen and (min-width:769px) and (max-width: 1366px) {
  #wrap{ background-color: #f50;}








}/* pc end */