@charset "UTF-8";

/* rwd_homework_01.css */

#wrap{width:1200px; width:75rem; height: auto;}



/* mob start */
@media screen and (max-width: 480px){
	#wrap{width: 480px; height: 2280px; background-color:#ccc;
		margin:0 auto;}
			

}
/* mob end */


/* tab start */
@media screen and (min-width:481px) and (max-width: 768px){


}
/* tab end */


/* pc start */
@media screen and (max-width:960px){



}
/* pc end */